:root {
    --color-red: #ff2d2d;
 }
  
 *{
    padding: 0;
    margin: 0;
    border: 0;
 }
 *,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
  
 :focus,:active{outline: none;}
 a:focus,a:active{outline: none;}
  
 nav,footer,header,aside{display: block;}
  
 html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
 }
  
 input,button,textarea{font-family:inherit;}
  
 input::-ms-clear{display: none;}
 button{cursor: pointer;}
 button::-moz-focus-inner {padding:0;border:0;}
 a, a:visited{text-decoration: none;}
 a:hover{text-decoration: none;}
 ul li{list-style: none;}
 img{vertical-align: top;}
  
 h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
  
 .section-main{
    height: 688px;
    background-color: #f6f2f2;
    padding: 29px 0px 0px 0px;
 }
 .header {
    width: 1250px;
    height: 89px;
    background-color: #000000;
    opacity: 0.8;
    margin: 0 auto;
 }
  
 .header__menu {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 534px;
    height: 100%;
   
 }
  
 .menu__link {
    color: #e0e0e0;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 44px 22px 33px;
 }
  
 .menu__link:hover {
    background-color: var(--color-red);
 }
  
 .section-main__content {
    width: 1250px;
    height: 356px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 93px;
 }
  
 .section-main__content-title {
    width: 588px;
    height: 117px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 1.3px;
    line-height: 72px;
    text-align: left;
    text-transform: uppercase;
    margin-left: -2px;
 }
 .section-main__content-title span {
    letter-spacing: 5.8px;
 }
  
 .section-main__content-text {
    width: 512px;
    height: 73px;
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 28px;
    margin: 44px 75px 63px 0px;
 }
  
 .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    height: 55px;
    border-radius: 5px;
    background-color: var(--color-red);
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
 }
  
 .wrapper-video {
    width: 551px;
    height: 356px;
    margin-top: 10px;
    background-color: #000000;
    opacity: 0.2;
    position: relative;
    filter: drop-shadow(-2.19px -13.828px 36.5px rgba(0, 0, 0, 1));
  
 }
 .icon-video{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
 }
  
 .section-2 {
    margin: 0 auto;
    margin-top: 108px;
    width: 1250px;
    height: 586px;
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
 }
  
 .section-2__title {
    width: 502px;
    height: 87px;
    opacity: 0.8;
    color: #000000;
    font-family: "Open Sans";
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    text-transform: uppercase;
    margin-top: -5px;
 }
  
 .section-2__text {
    width: 509px;
    height: 98px;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 28px;
    margin-top: 54px;
 }
  
 .section-2_button {
    width: 227px;
    height: 55px;
    border-radius: 5px;
    border: 2px solid var(--color-red);
    color: var(--color-red);
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    background-color: #ffffff;
    margin-top: 65px;
    text-align: center;
 }
 .services {
    width: 613px;
    height: 477px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .service {
    width: 291px;
    height: 213px;
    margin-bottom: 50px;
  
 }
 .service__icon {
    width: 44px;
    height: 30px;
 }
 .service__title {
    height: 25px;
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    margin-top: 38px;
    padding-left: 3px;
 }
 .service__text {
    width: 290px;
    height: 101px;
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 11px;
    padding-left: 5px;
 }
  
 .rectangle {
    margin: 0  auto;
    width: 1250px;
    height: 2px;
    background-color: #ececec;
 }
  
 .section-3 {
    margin: 0 auto;
    margin-top: 97px;
    width: 1250px;
    height: 914px;
 }
 .section-3__title {
    height: 32px;
    opacity: 0.8;
    color: #000000;
    font-family: "Open Sans";
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-left: 32px;
 }
 .section-3__text {
    width: 504px;
    height: 45px;
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 auto;
    margin-top: 34px;
    padding-left: 3px;
    text-align: center;
  
  
 }
 .section-3__rectangle {
    width: 132px;
    height: 3px;
    background-color: #ff2d2d;
    margin: 0 auto;
    margin-top: 36px;
 }
  
 .filter-panel {
    width: 892px;
    height: 17px;
    margin: 0 auto;
    margin-top: 84px;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
 }
 .filter-panel__item{
    color: #000000;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
 }
 .filter-panel__item.active {
    color: #ff2d2d;
 }
 .filter-products {
    width: 1252px;
    height: 601px;
    margin: 0 auto;
    margin-top: 68px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .product {
    width: 298px;
    height: 291px;
    background-color: #f5f0dd;
    margin-bottom: 20px;
 }
  
 .section-team {
    width: 1252px;
    height: 708px;
    margin: 0 auto;
    margin-top: 139px;
    padding-left: 3px;
 }
 .section-team__title {
    width: 346px;
    height: 32px;
    opacity: 0.8;
    color: #000000;
    font-family: "Open Sans";
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: -13px;
 }
 .section-team__text {
    width: 448px;
    height: 73px;
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 39px;
 }
 .section-team__rectangle {
    width: 132px;
    height: 3px;
    background-color: #ff2d2d;
    margin-top: 39px;
 }
  
 .team {
    width: 1244px;
    height: 458px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
 }
 .big-foto {
    width: 321px;
    height: 458px;
    background-color: #f5f0dd;
    margin-right: 68px;
 }
 .crewman-name {
    width: 209px;
    height: 23px;
    opacity: 0.8;
    color: #000000;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 11px;
 }
 .crewman-info {
    width: 630px;
    height: 45px;
    opacity: 0.7;
    color: #000000;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 32px;
 }
 .social-group {
    width: 371px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
 }
 .social-group__item {
    opacity: 0.8;
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: italic;
 }
 .foto-group {
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
 }
 .foto-group__item {
    width: 197px;
    height: 214px;
    background-color: #f5f0dd;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 20px; 
 }
 .foto-group__item:last-child{
    margin-right: 0px; 
 }
 .foto-group__item-name {
    height: 37px;
    background-color: #000000;
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 42px 10px 54px;
    display: none;
 }
  .foto-group__item:hover .foto-group__item-name {
    display: block;
  }
  
  .section-5 {
      width: 100%;
      height: 512px;
      background-color: #f5f0dd;
      margin-top: 115px;
  }
  
  .section-5__title {
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 42px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding-top: 145px;
  }
  .section-5__text {
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-top: 39px;
  }
  .section-5__form {
    width: 757px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 57px;
 }
 .section-5__input{
    width: 521px;
    height: 79px;
    background-color: #ffffff;
    opacity: 0.7;
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    padding-left: 35px;
 }
 .section-5__button{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 214px;
    height: 79px;
    background-color: #ff2d2d;
    border-radius: 5px;
 }
 .section-connect {
    width: 1250px;
    height: 769px;
    margin: 0 auto;
    margin-top: 107px;
 }
 .connect {
    width: 732px;
 }
 .connect__title {
    opacity: 0.8;
    color: #000000;
    font-family: "Open Sans";
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
 }
 .connect__text {
    width: 720px;
    height: 73px;
    opacity: 0.7;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 51px;
 }
 .connect__rectangle {
    width: 132px;
    height: 3px;
    background-color: #ff2d2d;
    margin-top: 54px;
 }

 .connect__form {
     margin-top: 75px;
     position: relative;
 }
 .input-group {
     display: flex;
     justify-content: space-between;
 }
 
 .input-group :nth-child(1) {
    font-size: 18px;
 }
 .input-group :nth-child(2) {
    font-size: 16px;
 }

 .input-group input {
    width: 339px;
    height: 69px;
    background-color: #e5e5e5;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 400; 
    border-radius: 5px; 
    padding-left: 51px;
 }
 textarea {
    width: 731px;
    height: 249px;
    padding: 35px 0px 0px 51px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    background-color: #e5e5e5;
    color: #000000;
    border-radius: 5px; 
    margin-top: 46px;
    resize: none;
 }
 .connect__form button {
    margin-top: 45px;
    width: 728px;
    height: 72px;
    border-radius: 5px;
    background-color: #ff3b3b;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
 }
 .contact-info {
    width: 577px;
    height: 481px;
    background-color: #2d2d2d;
    position: absolute;
    top: 0;
    right:-684px;
    padding: 145px 0px 0px 79px;
 }
 .contact-info__title {
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
 }
 address {
     margin-top: 41px;
    width: 285px;
    height: 45px;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
 }

.contact-info__phone {
    margin-top: 33px;
}
 .contact-info__phone a{
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
 }
 .contact-info__email {
    display: block;
    margin-top: 27px;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
 }
 
 footer {
    width: 1583px;
    height: 111px;
    background-color: #313030;
    margin-top: 110px;
    padding-top: 47px;
 }

 .container {
     width: 1250px;
     margin: 0 auto;
 }

 .footer-block {
     display: flex;
     justify-content: space-between;
     height: 33px;
 }

 .footer-block .text {
    width: 348px;
    height: 17px;
    color: #b8b8b8;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
 }
.messenger-block {
    display: flex;
    justify-content: space-between;
    width: 185px;
}
